
@{
    ViewBag.Title = "Slider";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")">
</head>
    <!-- slider Area Start-->
<body>
    <div class="slider-area ">
        <div class="slider-active">
            <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="@Url.Content("~/images/VLU.jpg")">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11">
                            <div class="hero__caption">
                                <div class="hero-text1">
                                    <em data-animation="fadeInUp" data-delay=".3s">Welcome</em>
                                </div>
                                <h1 data-animation="fadeInUp" data-delay=".5s">VĂN LANG</h1>
                                <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                    <h2>UNIVERSITY</h2>
                                    <h2>UNIVERSITY</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="@Url.Content("~/assets/js/vendor/modernizr-3.5.0.min.js")"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="@Url.Content("~/assets/js/vendor/jquery-1.12.4.min.js")"></script>
    <script src="@Url.Content("~/assets/js/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <!-- Jquery Mobile Menu -->
    <script src="@Url.Content("~/assets/js/jquery.slicknav.min.js")"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="@Url.Content("~/assets/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/assets/js/slick.min.js")"></script>
    <!-- Date Picker -->
    <script src="@Url.Content("~/assets/js/gijgo.min.js")"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="@Url.Content("~/assets/js/wow.min.js")"></script>
    <script src="@Url.Content("~/assets/js/animated.headline.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.magnific-popup.js")"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="@Url.Content("~/assets/js/jquery.scrollUp.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.nice-select.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.sticky.js")"></script>

    <!-- counter , waypoint -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="@Url.Content("~/assets/js/jquery.counterup.min.js")"></script>

    <!-- contact js -->

    <script src="@Url.Content("~/assets/js/jquery.form.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/assets/js/mail-script.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.ajaxchimp.min.js")"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="@Url.Content("~/assets/js/plugins.js")"></script>
    <script src="@Url.Content("~/assets/js/main.js")"></script>
</body>
</html>