@model IEnumerable<WebDangKyKHHT.Models.AspNetUser>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DKKHHT.cshtml";
}
<style>
    .btn {
        position: relative;
        padding: 0.5rem 0.7rem;
        padding-right: .1rem;
        font-size: 1rem;
        color: white;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
        cursor: pointer;
        user-select: none;
    }

        .btn:before, .btn:after {
            content: '';
            position: absolute;
            transition: inherit;
            z-index: -1;
        }

        .btn:hover {
            color: aqua;
            transition-delay: .5s;
        }

            .btn:hover:before {
                transition-delay: 0s;
            }

            .btn:hover:after {
                background: var(--inv);
                transition-delay: .35s;
            }
    /* From Left */
    .from-left:before,
    .from-left:after {
        top: 0;
        width: 0;
        height: 100%;
    }

    .from-left:before {
        right: 0;
        border: 1px solid var(--inv);
        border-left: 0;
        border-right: 0;
    }

    .from-left:after {
        left: 0;
    }

    .from-left:hover:before,
    .from-left:hover:after {
        width: 100%;
    }
</style>
<style>

    .tbstudentinfo th {
        text-align: left;
    }

    .cus-boder {
        border-top: 1px solid #dfdfdf;
        padding-top: 10px;
        height: 30px;
    }

    .cus-header {
        font-weight: bold;
        color: #AC1818;
        font-size: 16px;
    }

    .cus-boder1 {
        border-top: 1px solid #dfdfdf;
        padding-top: 20px;
        height: 30px;
    }
</style>




<
<!-- Title body -->
@if (Request.IsAuthenticated)
{   
        <div class="container">
            <div class="col-md-12">
                <div class="divmain" style="margin-bottom: 20px">
                    <div class="bgtitle">Thông tin sinh viên</div>
                    <div class="row" style="margin: 0px">
                        <div class="col-md-4">
                            <div class="row" style="text-align:center">
                                <div class="col-md-12" style="margin-bottom: 23px;">
                                    <img id="Home-img-circle" src="~/images/person_profile.jpg" width="200" />
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                Tên người dùng: <label style="color:lightpink">@User.Identity.GetUserName()</label>
                            </div>
                            

                            @*<div class="col-md-4  cus-boder">
            ĐT bàn: <label style="color:lightpink">@Html.DisplayFor(modelItem => item.PhoneNumber)</label>
        </div>
        <div class="col-md-4  cus-boder1">
            Họ tên: <label style="color:lightpink">@Html.DisplayFor(modelItem => item.Ten)</label>
        <div class="col-md-4  cus-boder" style="height: 55px">
            <button class="btn from-left "> @Html.ActionLink("Cập nhập thông tin", "Edit", new { id = item.Id }) </button>
        </div>
        <div class="col-md-4  cus-boder">
            Ngày sinh: <label style="color:lightpink">@Html.DisplayFor(modelItem => item.NgaySinh)</label>
            <div class="col-md-4  cus-boder">
                Email trường: <label style="color:lightpink"> @Html.DisplayFor(modelItem => item.UserName)</label>
            </div>
            <div class="col-md-8  cus-boder">
                Lớp sinh viên: <label>Khóa 24 Kỹ thuật phần mềm-K24T-PM1</label>
            </div>
            <div class="col-md-12  cus-boder">
                Email cá nhân: <label style="color:lightpink"> @Html.DisplayFor(modelItem => item.Email)</label>
            </div>
        </div>*@
                        </div>
                        </div>
                    </div>                  
                </div>
            </div>        
                }


                }


                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        GetNotification();
                    })

                    function GetNotification() {
                        $.ajax({
                            url: '/Home/GetNotificationAccountFee',
                            type: 'GET',
                            dataType: 'json',
                            success: function (res) {
                                if (res.status) {
                                    if (res.confirm) {
                                        Swal.fire("<span style='color:tomato; font-weight:bold'>Bạn chưa đóng học phí !</span>", 'Vui lòng vào <b>TÀI CHÍNH SINH VIÊN</b> để kiểm tra', 'warning')
                                    }
                                }
                            },
                            error: function (jqXHR, textStatus, err) {
                                Swal.fire('Lỗi', err, 'error')
                            }
                        });
                    }
                </script>
