@model IEnumerable<WebDangKyKHHT.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
}
<div class="site-section">
    <div class="container">
        <h1 align="center">Thông tin sinh viên</h1>

    </div>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Sinh Viên
        </th>
        <th>
            Email Trường
        </th>

        <th>
            Số điện thoại
        </th>
        <th>
            Xác nhận số điện thoại
        </th>
        <th>
            Email cá nhân
        </th>

        <th>
            Xác nhận Email
        </th>
        <th>
            Ngày Sinh
        </th>
        @*<th>
             Địa Chỉ
        </th>
        <th>
           Mã Số Sinh viên
        </th>*@
        

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSSV)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
