@model IEnumerable<WebDangKyKHHT.Models.KHHT>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DKKHHT.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>

<!-- Title body -->
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Bảng thống kê môn học</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="scrollable">
            <table class="table table-striped custom-table">
                <thead>
                    <tr>
                        <th class="service">Mã Môn học</th>
                        <th class="desc">Tên môn học</th>
                        <th>Số tín chỉ</th>
                        <th>Mã học kì</th>
                        <th>Email SV</th>
                        <th>Ngày đăng kí</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MonHoc.MaMH</td>
                            <td>@item.MonHoc.TenMH</td>
                            <td>@item.MonHoc.SoTinChi</td>
                            <td>@item.MonHoc.ID_HK</td>
                            <td>@item.AspNetUser.Email</td>
                            <td>@item.NgayTao</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='ThongKeChiTiet'">
                Xuất Excel
            </button>
        </div>
    </div>    
</div>



