@model IEnumerable<WebDangKyKHHT.Models.KHHT>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="~/css/Thongke.css" rel="stylesheet" />
</head>
<body>
    <header class="clearfix">
        <div id="logo">
            <img src="~/images/logoVanLang.png" />
        </div>
        <button onclick="window.print()" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
            </svg>
        </button>
        <h1>BẢNG THỐNG KÊ</h1>
        <div id="company" class="clearfix">
            <div>Phòng Đào tạo</div>
            <div>C204 – C304<br />103B, Trụ sở 45 Nguyễn Khắc Nhu,P.Cô Giang, Q.1</div>
            <div>028. 3836 4954</div>
            <div><a href="p.daotao@vanlanguni.edu.vn">p.daotao@vanlanguni.edu.vn</a></div>
        </div>
        <div id="project">
            <div><span>PROJECT</span>Bảng thống kê chi tiết kế hoạch học tập</div>
            <div><span>CLIENT</span>Phòng Công Nghệ Thông Tin</</div>
            <div><span>ADDRESS</span>C204 – C304, 233A Phan Văn Trị, P. 11, Q. Bình Thạnh</div>
            <div><span>EMAIL</span> <a href="p.cntt@vanlanguni.edu.vn">p.cntt@vanlanguni.edu.vn</a></div>
            <div><span>DATE</span> August 17, 2015</div>
            <div><span>DUE DATE</span> September 17, 2015</div>
        </div>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th class="service">Mã Môn học</th>
                    <th class="desc">Tên môn học</th>
                    <th>Số tín chỉ</th>
                    <th>Mã học kì</th>
                    <th>ID SV</th>
                    <th>Ngày đăng kí</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                 {
                    <tr>
                        <td>@item.MonHoc.MaMH</td>
                        <td>@item.MonHoc.TenMH</td>
                        <td>@item.MonHoc.SoTinChi</td>
                        <td>@item.MonHoc.ID_HK</td>
                        <td>@item.ID_SV</td>
                        <td>@item.NgayTao</td>
                    </tr>
                 }
            </tbody>
        </table>
        <!--
        <div id="notices">
            <div>NOTICE:</div>
            <div class="notice"></div>
        </div>
        -->
    </main>   
</body>
</html>