@model IEnumerable<WebDangKyKHHT.Models.KHHT>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/DKKHHTAdmin.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawChart);
    google.charts.setOnLoadCallback(drawChart1);

    function drawChart() {
        $(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChartData", "ThongKeAdmin")',
                success: function (charts) {
                    var data = charts.dbchart;
                    var chartdb = new google.visualization.DataTable();

                    chartdb.addColumn('string', 'Môn học');
                    chartdb.addColumn('number', 'Số lượng sinh viên');


                    for (var i = 0; i < data.length; i++) {
                        chartdb.addRow([data[i].name, data[i].count]);
                    }
                    var options = { 'title': 'Thống kê số lượng sinh viên đăng ký từng môn', is3D: true };
                    var chart = new google.visualization.PieChart(document.getElementById('myChart'));
                    chart.draw(chartdb, options);
                },
            });
        });
    }

    function drawChart1() {
            $(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChartC", "ChartColumn")',
                success: function (charts) {
                    var soluong = charts.dbchart1;
                    var data = google.visualization.arrayToDataTable([
                        ['Sinh viên', 'Số lượng'],
                        ['Đã đăng kí', soluong],
                        ['Chưa đăng kí', 300 - soluong],
                    ]);
                    var options = {
                        title: 'Thống kê sinh viên',
                        is3D: true,
                    };
                    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                    chart.draw(data, options);
                },
            });
            });
        }

</script>

<!-- Title body -->



<div id="piechart_3d" style="width: 900px; height: 500px;"></div>

<div id="myChart" style="width: 900px; height: 500px;"></div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Bảng thống kê môn học</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='ThongKeChiTiet'">
                In
            </button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='ExportToExcel'">
                Xuất Excel
            </button>
        </div>
        <div class="scrollable">
            <table class="table table-striped custom-table">
                <thead>
                    <tr>
                        <th class="service">Mã Môn học</th>
                        <th class="desc">Tên môn học</th>
                        <th>Số tín chỉ</th>
                        <th>Mã học kì</th>
                        <th>Email SV</th>
                        <th>Ngày đăng kí</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MonHoc.MaMH</td>
                            <td>@item.MonHoc.TenMH</td>
                            <td>@item.MonHoc.SoTinChi</td>
                            <td>@item.MonHoc.ID_HK</td>
                            <td>@item.AspNetUser.Email</td>
                            <td>@item.NgayTao</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>



