@model IEnumerable<WebDangKyKHHT.Models.Deadline>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/DKKHHTAdmin.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Ngày bắt đầu
        </th>
        <th>
            Ngày kết thúc
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.DangKy)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.DangKy)
                </td>*@
            <td>
                @Html.ActionLink("Điều chỉnh thời gian", "Edit", new { id = item.ID })
            </td>
        </tr>
    }

</table>
