@model WebDangKyKHHT.Models.KHHT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KHHT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

     

        <dt>
            @Html.DisplayNameFor(model => model.MonHoc.MaMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.MaMH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
