@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/DKKHHT.cshtml";
}





<header>
    <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

        <div class="container">
            <div class="d-flex align-items-center">

                <div class="mr-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                            <li class="active">
                                <a href="@Url.Content("~/Home/Index")" class="nav-link text-left" style="color: #ff3333">Trang chủ</a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/DangKyKHHT/Index")" class="nav-link text-left">Đăng ký kế hoạch học tập</a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/MonHocs/Index")" class="nav-link text-left">Xem kế hoạch đào tạo</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-left">Lịch sử đăng ký KHHT</a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a href="@Url.Content("~/AspNetRoles/Index")" class="nav-link text-left">Role</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="site-section">
        @RenderPage("~/Views/Shared/Slider.cshtml")
    </div>
</main>




