@model IEnumerable<WebDangKyKHHT.Models.MonHoc>
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DKKHHT.cshtml";
    int total = 0;

}
<style>
    .scrollable {
        height: 480px;
        overflow: scroll;
    }

        .scrollable table thead th {
            position: sticky;
            top: 0;
            background-color: white;
        }

    .table-fixed tr {
        display: block;
    }
</style>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>CHƯƠNG TRÌNH ĐÀO TẠO</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="d-flex align-items-center">

                @using (Html.BeginForm())
                {
                    <table>
                        <tr>
                            <th>
                                Chọn Học Kì
                            </th>
                            <th>
                                @Html.DropDownList("ID_HK", null, htmlAttributes: new { @class = "form-control" })
                            </th>
                            <th>
                                &ensp;
                                <button class="btn btn-secondary" type="submit" value="Tìm kiếm" /><span>Tìm kiếm</span>
                            </th>

                            <th>
                                @if (User.IsInRole("Admin"))
                                {

                                    <a id="collapseTwo" aria-labelledby="headingOne" href="@Url.Content("~/MonHocs/Create")" class="nav-link text-left">Tạo Môn</a>

                                }
                            </th>
                        </tr>
                    </table>
                }
            </div>
        </div>





        <div class="container">
            <div class="scrollable">
                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th scope="col">Số thứ tự</th>
                            <th scope="col">Tên môn</th>
                            <th scope="col">Mã môn</th>
                            <th scope="col">Học kỳ</th>
                            <th scope="col">Số tín chỉ</th>
                            @if (User.IsInRole("Admin"))
                            {
                                <th scope="col">Sửa Môn</th>
                                <th scope="col">Xóa Môn</th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            {
                                total += (int)item.SoTinChi;
                                <tr scope="row">
                                    <td>@item.ID</td>
                                    <td><p>@item.TenMH</p></td>
                                    <td>
                                        @item.MaMH
                                    </td>
                                    <td>@item.HocKi.TenHK</td>
                                    <td>@item.SoTinChi</td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td> @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) </td>
                                        <td> @Html.ActionLink("Xóa", "Delete", new { id = item.ID }) </td>
                                    }
                                </tr>
                            }

                        }
                    </tbody>

                </table>
            </div>
        </div>
        <div class="container">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Tổng số tín chỉ</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <tr>
                        <td>
                            @total
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>



