@model IEnumerable<WebDangKyKHHT.Models.MonHoc>

@{
    ViewBag.Title = "Index";
    int total = 0;
}

<h2>Chương trình đào tạo</h2>


<form action="@Url.Action("Search", "MonHocs")" method="get">
    <input type="text" name="HK" placeholder="Nhập học kì">
    <button type="submit" class="site-btn">SEARCH</button>
</form>


<table class="table">
    <tr>
        <th>
            Mã môn học
        </th>
        <th>
            Tên môn học
        </th>
        <th>
            Số tín chỉ
        </th>
        <th>
            Học kì
        </th>

    </tr>
    @foreach (var item in Model)
    {
        
        {
            total += (int)item.SoTinChi;
            <tr>
                <td>
                    @item.MaMH
                </td>
                <td>
                    @item.TenMH
                </td>
                <td>
                    @item.SoTinChi
                </td>
                <td>
                    @item.HocKi.TenHK
                </td>
            </tr>
        }
    }
</table>
<tr>
    <td>Tổng số tín chỉ: </td>
    <td>@total</td>
</tr>




