@model WebDangKyKHHT.ViewModels.KHHTsViewModel
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DKKHHT.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").click(function () {
            AddKHHT();
        });



        $("#btnSelectAll").click(function () {
            SelectAllMH()
        });
    });



    function SelectAllMH() {
        $.each($("#tableMH input[type=checkbox]"), function (index, data) {
            $(this).prop('checked', true);
        });
    }



    function AddKHHT() {
        var listOfIDMH = [];



        $.each($("#tableMH input[type=checkbox]:checked"), function (index, data) {
            listOfIDMH.push($(this).val());
        });



        $.ajax({
            async: true,
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            url: '/DangKyKHHT/Index',
            data: JSON.stringify({ ID_SV: $("#ddSV").val(), listOfIDMH: listOfIDMH }),
            success: function (data) {
                if (data.success === true) {
                    alert(data.message);
                }
            },
            error: function () {
                alert('There are some problem');
            }
        });
    }



</script>

    
<!-- Title body -->
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>BẢNG ĐĂNG KÝ KẾ HOẠCH HỌC TẬP</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm("Index", "DangKyKHHT", FormMethod.Post, new { }))
    {
        <div class="container">
            <div class="row">
                <div class="form-group">
                    Sinh viên
                    <br />
                    @if (Request.IsAuthenticated)
                    {

                        <input type="text" value="@User.Identity.GetUserId()" id="ddSV" />
                        @User.Identity.GetUserName()


                        @*@Html.DropDownListFor(model => model.ID_SV, Model.ListofSV, new { @class = "form-control", @id = "ddSV" })*@
                    }

                </div>
            </div>


            <div class="row">
                <h2>Danh sách môn học </h2>
                <br />
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <label class="control control--checkbox">
                                    <input type="checkbox" class="js-check-all" />
                                    @*<div class="control__indicator"></div>*@
                                </label>
                            </th>
                            <th scope="col">Số thứ tự</th>
                            <th scope="col">Tên môn</th>
                            <th scope="col">Mã môn</th>
                            <th scope="col">Số tín chỉ</th>
                            <th scope="col">Học kỳ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListofMH)
                        {
                            <tr scope="row" id="tableMH">
                                <th scope="row">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" name="@item.TenMH" value="@item.IDMH" checked="@item.IsSelected" />
                                        <div> class="control__indicator"> </div>
                                    </label>
                                </th>
                                <td>@item.IDMH</td>
                                <td><p>@item.TenMH</p></td>
                                <td>
                                    @item.MaMH
                                </td>
                                <td>@item.SoTinChi</td>
                                <td>@item.ID_HK</td>
                            </tr>
                            <tr class="spacer"><td colspan="100"></td></tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" value="Save" name="Save" id="btnSave" class="btn btn-secondary">Lưu</button>
            </div>
        </div>
    }



</div>