@model IEnumerable<WebDangKyKHHT.Models.AspNetRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/DKKHHTAdmin.cshtml";
}

<section class="row">
    <div class="col-2 col-lg-4">
        <h2>Role</h2>
    </div>
    <br />
    <div class="col-10 col-lg-8">
        <button type="submit" class="btn btn-light-info ">@Html.ActionLink("Tạo mới", "Create")</button>
    </div>

</section>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>

        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id }) |
            <a href="@Url.Action("Create","AspNetRoleUserAdmin", new { RoleId = item.Id  })">Thêm User</a>
        </td>
    </tr>
    foreach(var user in item.AspNetUsers) 
    { 
        <tr>
            <td></td>
            <td>
                @user.UserName
            </td>
            <td>
                <a href="@Url.Action("Delete", "AspNetRoleUserAdmin", new { RoleId = item.Id , UserId = user.Id })">Delete</a>
            </td>
        </tr>
    }
}

</table>
